@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Vend Sans", sans-serif;
  --font-mono: "Space Mono", monospace;
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-foreground: var(--foreground);
  --color-accent: var(--color-accent);
}

:root {
  --background: #ffffff;
  --surface: #ffffff;
  --foreground: #171717;
  --color-accent: #006FFF;
}

.dark {
  --background: #141414;
  --surface: #141414;
  --foreground: #ededed;
  --color-accent: #006FFF;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Eliminar todos los bordes y sombras globales como se solicitó */
* {
  border-color: transparent !important;
  box-shadow: none !important;
}
